{% extends 'base.html' %}
{% load static %}

{% block ogmeta %}
<meta property="og:site_name" content="Ekuri's Blog" />
<meta property="og:title" content="{{post.title}}" />
<meta property="og:description" content="{{post.excerpt|safe}}" />
<meta property="og:url" content="{{post.get_absolute_url}}" />
<meta property="og:type" content="article" />
<meta property="article:publisher" content="https://www.ekurisblog.com" />
<meta property="article:section" content="{{post.category}}" />
<meta property="article:tag" content="{{post.category}}" />
<meta property="og:image" content="{{post.image_1.url}}" />
<meta property="og:image:secure_url" content="{{post.image_1.url}}" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="640" />
{% endblock ogmeta %}


{% block content %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="container">
        <nav class="breadcrumb bg-transparent m-0 p-0">
            <a class="breadcrumb-item" href="#">Home</a>
            <span class="breadcrumb-item active">Contact</span>
        </nav>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Contact Start -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="bg-light py-2 px-4 mb-3">
            <h3 class="m-0">Contact Us For Any Queries</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bg-light mb-3 p-5">
                    <h6 class="font-weight-bold display-5">Get in touch</h6>
                    <div class="d-flex align-items-center mb-3">
                        <i class="fab fa-2x  fa-whatsapp mr-3"></i>
                        <div class="d-flex flex-column">
                            <h6 class="font-weight-bold">Chat on whatsapp</h6>
                            <a href="https://wa.link/9b6ce9" target="_blank" style="text-decoration: none">
                                <p class="m-0" style="color: blue;">{{contactus.whatsapp}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <i class="fa fa-2x fa-envelope-open mr-3"></i>
                        <div class="d-flex flex-column">
                            <h6 class="font-weight-bold">Email Us</h6>
                            <a href="mailto:{{contactus.email}}" target="_blank" style="text-decoration: none">
                                <p class="m-0" style="color: blue;">
                                {{contactus.email}}
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-2x fa-phone-alt mr-3"></i>
                        <div class="d-flex flex-column">
                            <h6 class="font-weight-bold">Call Us</h6>
                            <a href="tel:{{contactus.phone_number}}" target="_blank" style="text-decoration: none">
                                <p class="m-0" style="color: blue;">{{contactus.phone_number}}</p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock content %}